# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C++ build artifacts (Arduino)
build/
*.hex
*.elf
*.bin

# Database
*.db
*.sqlite3

# Models
*.joblib
*.pkl

# Local environment / IDEs
.vscode/
.idea/
.env
venv/
.venv/
.DS_Store
